@page "/todos"
@using blazorizeApp.Shared

<Container>
<Addons>
    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="Digite o item a ser feito" @bind-Text="newTodo" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" @onclick="AddTask">Add</Button>
    </Addon>
</Addons>
<Column ColumnSize="ColumnSize.Is4">
<Table>
    <TableHeader ThemeContrast="ThemeContrast.Dark">#</TableHeader>
    <TableBody>

            @foreach (var item in listaTodo)
            {
                <TableRow>
                    <TableRowCell>@item.Title</TableRowCell>
                </TableRow>
            }    
    </TableBody>
</Table>
</Column>
</Container>

@code{
    List<TodoEntity> listaTodo;
    public string newTodo { get; set; }
    private void AddTask()
    {
        listaTodo.Add(new TodoEntity { Title = newTodo });
    }
    protected override void OnInitialized()
    { //método executado quando um arquivo razor é carregado
        listaTodo = new List<TodoEntity>(){
        new TodoEntity(){Title = "Passear com cachorro", Done = false},
        new TodoEntity(){Title = "Comprar coisas", Done = false},
        new TodoEntity(){Title = "Pagar conta", Done = true}
        };
    }

}